/* 
my.nebula.css 
*/
/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

*, :before, :after {
  margin: 0;
  padding: 0;  
  /* position: relative; */
  
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box; 
   box-sizing: border-box; 
		  
}

input, select, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /*        appearance: none; */

	cursor: pointer;

    font: inherit;
    color: inherit;
}

/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/

.butt, .input {
  padding: 5px;
  margin: 8px;

  background-color: transparent;
  border-radius: 4px;
}

  .butt:focus, .input:focus {
    outline: none;
  }
  
  .label {
	 font-size: 1.3rem;
  font-weight: 400;
  color: #f35626;
  
  -webkit-animation: hue 60s infinite linear;
  -moz-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}

.butt {
  border: 1px solid #f35626;
  line-height: 1.375;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 1.1rem;
  font-size: 1.1rem;
  font-weight: 400;

  color: #f35626;
  text-decoration-line: none;

  cursor: pointer;
  
  -webkit-animation: hue 60s infinite linear;
  -moz-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}

  .butt--primary {
    background-color: #f35626;
    color: #fff;
  }

.input {
  border: 1px solid #c0c8c9;
  border-radius: 4px;
  
  padding-left: 10px;/* for IE + Yandex.Browser - correct output */  
  padding-top: 4px; /* for IE + Yandex.Browser - correct output */  
  height: 34px; /* for IE + Yandex.Browser - correct output */  
}

  .input--dropdown {
    background-image: url("../images/ddown.svg"), none;
    background-repeat: no-repeat;
    background-size: 24px 16px;
    background-position: right center;
  }
  
  option {
	padding-left: 8px;	  
	padding-right: 8px;
  }
  
/* button and dropdown hover effects */  
  .butt:hover, .input--dropdown:hover {
	  border: 1px solid #f99;
	  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.24);
  }  
    .butt:active {
	  border: 1px solid #000;
	  box-shadow: 0 2px 6px rgba(0,0,0,0.48), 0 2px 8px rgba(0,0,0,0.64);
  }   
 
 /* ---------------------------------               tooltips    >>>           ------------------------------------------ */   
	 /* Tooltip container */
	.tooltip, .tooltip2 {
		position: relative;
		display: inline-block;
		/*  border-bottom: 1px dotted black;     If you want dots under the hoverable text */
	}

	/* Tooltip text */
	.tooltip .tooltiptext, .tooltip2 .tooltiptext {
		visibility: hidden;
		width: 200px;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px;
		border-radius: 6px;
		
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;		
	}
	 .tooltip .tooltiptext {
		top: 2px;
		right: 110%; 
	}
	.tooltip2 .tooltiptext {	 
		width: 200px;
		bottom: 105%;
		left: 50%; 
		margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
	}
	
	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext, .tooltip2:hover .tooltiptext {
		visibility: visible;
	}
 /* ---------------------------------       <<<        tooltips             ------------------------------------------ */   


html {
  /* font: 100%/1.5 "Roboto", Verdana, sans-serif; */
  font: 100%/1.8 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  width: 100%;  
  
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */

  /* Centering in The Unknown */
  text-align: center;
}

h1 {
	font-size: 40px;
	font-weight: 100;
	
	text-shadow: 0 2px 6px rgba(0,0,0,0.24), 0 2px 8px rgba(0,0,0,0.36);
}


p {	
	margin-bottom: 5px;
	margin-top: 5px;
	line-height: 140%;	
}

p, hr, form {
  margin-bottom: 5px;
}

hr {
  border: none;
  margin-top: -1px;
  height: 1px;
  background-color: #c0c8c9;
  
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
  background-image: -moz-linear-gradient(0deg, #fff, #c0c8c9, #fff);
  background-image: -o-linear-gradient(0deg, #fff, #c0c8c9, #fff);
  background-image: linear-gradient(0deg, #fff, #c0c8c9, #fff);
}


#maincontent {	
	padding-left: 10px;
	padding-right: 16px;
	padding-bottom: 10px;	

	/* width:570px;	 */
	width:auto;	
	display: block; 
}

canvas {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border: none;
}
	
#can_output {
	width: 90%;
	max-width: 1000px;
	border: 3px solid #ccc;		
	border-radius: 14px;		
	box-shadow: 1px 3px 7px #777; 	
	cursor: pointer;		
}

#div_show_info {
	position: fixed;
	z-index:10;
	top: 10px;	
	right: 10px;
	padding: 6px 12px;
	width: auto;
	
	cursor: pointer;
	
	border: 1px solid #0f0;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.24), inset 0 2px 8px rgba(0,0,0,0.48), 0 2px 6px rgba(0,0,0,0.24), 0 2px 8px rgba(0,0,0,0.48);
	
	-webkit-border-radius: 14px;	
	-moz-border-radius: 14px;	
	-o-border-radius: 14px;	
	border-radius: 14px;		
	
	color: #00f;	
	text-shadow: 0 2px 2px rgba(0,0,0,0.48), 0 2px 2px rgba(0,0,0,0.64);	
}

#div_info {
	position: fixed;
	z-index:10;
	top: 120px;	
	right: 10%;
	padding: 6px 12px;
	width: auto;
	
	cursor: pointer;
	
	border: 1px solid #0f0;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.24), inset 0 2px 8px rgba(0,0,0,0.48), 0 2px 6px rgba(0,0,0,0.24), 0 2px 8px rgba(0,0,0,0.48);
	
	-webkit-border-radius: 14px;	
	-moz-border-radius: 14px;	
	-o-border-radius: 14px;	
	border-radius: 14px;		
	
	color: #9f9;	
	text-shadow: 0 2px 2px rgba(0,0,0,0.48), 0 2px 2px rgba(0,0,0,0.64);
}

.red {
	color: #f88;
	font-weight: 700;
}
.blue {
	color: #ff0;
}

/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/

.wrap {
  /* max-width: 38rem; */
  max-width: 800px;
  margin: 0 auto;
}


/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site__header {
  -webkit-animation: bounceInUp 1s;
  -moz-animation: bounceInUp 1s;
  -o-animation: bounceInUp 1s;
  animation: bounceInUp 1s;
}

  .site__title {
    color: #feab3a;
    /*
	background-image: -webkit-linear-gradient(132deg, #feab3a, #f35626);
	background-image: -moz-linear-gradient(132deg, #feab3a, #f35626);
	background-image: -o-linear-gradient(132deg, #feab3a, #f35626);
	background-image: linear-gradient(132deg, #feab3a, #f35626);
	
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-o-text-fill-color: transparent;
    
	-webkit-animation: hue 60s infinite linear;
	-moz-animation: hue 60s infinite linear;
	-o-animation: hue 60s infinite linear;
	animation: hue 60s infinite linear;
	*/
  }

.site__content {
  -webkit-animation: bounceInUp 1s;
  -moz-animation: bounceInUp 1s;
  -o-animation: bounceInUp 1s;
  animation: bounceInUp 1s;
  
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  animation-delay: .1s;
}

  .site__content form {
    -webkit-animation: bounceInUp 1s;
    -moz-animation: bounceInUp 1s;
    -o-animation: bounceInUp 1s;
    animation: bounceInUp 1s;
    
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	animation-delay: .1s;
  }

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-moz-keyframes hue {
  from {
    -moz-filter: hue-rotate(0deg);
  }
  to {
    -moz-filter: hue-rotate(-360deg);
  }
}
@-o-keyframes hue {
  from {
    -o-filter: hue-rotate(0deg);
  }
  to {
    -o-filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}